<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <div class="container">

      <div class= "jumbotron">
          <a href= "{% url 'home' %}">Home</a>
          <a href= "{% url 'register' %}">Register</a>
          {% if user.is_authenticated %}
              <a href= "{% url 'user_login' %}">Login</a>
          {% else %}
          <a href=" {% url 'user_logout' %} ">Logout</a>

          {% endif %}

          <h1> Medical-Aid-Group2-BE </h1>
          {% block content %}

          {% endblock %}
      </div>
  </div>

</body>
</html>
